input {
    display: block;
    margin-bottom: 1.5rem;
    width: 100%;
    height: 1.8rem;
}
textarea{
    display: block;
    margin-bottom: 1.5rem;
    width: 100%;
    height: 3rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-cont {
    width: 100%;
}

